<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <title>Index of {%path%}</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            padding: 2% 15%;
        }

        hr {
            margin: 1em 0;
        }

        ul {
            list-style-type: none;
        }

        ul li {
            padding-top: 0.2em;
        }
    </style>
</head>
<body>
    <h1>Index of {%path%}</h1>
    <hr />
    <ul>
        {%list%}
    </ul>
</body>
</html>
